@import "tailwindcss";
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

/* .home {
  background: radial-gradient(
    circle at 0% 100%,
    rgba(176, 243, 243, 0.69) 0%,
    rgba(28, 229, 229, 0.27) 2%,
    rgba(30, 58, 138, 0) 17%
  );
} */
